/* style.css */
body {
    /* background-color: #f8f9fa; */
    margin: 0;
    padding: 0;
}

.table-wrapper {
    margin-bottom: 0;
    /* padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); */

    transform: scale(0.7);
    transform-origin: top left;
}

.table-wrapper h4 {
    margin-bottom: 1rem;
    color: #0d6efd;
    border-bottom: 2px solid #0d6efd;
    padding-bottom: 5px;
}

.table-bordered {
    border-color: #ced4da;
}

.table-bordered th,
.table-bordered td {
    border-color: #ced4da;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.form-control.col-sal {
    width: 80px;
    /* Ancho específico para el input SAL % */
    display: inline-block;
}

/* Estilo para las celdas de input y cálculo */
td.text-end {
    text-align: right;
}

/* Estilo para la fila de totales */
.total-row {
    font-weight: bold;
    background-color: #e9ecef;
    /* Un gris más oscuro que table-info */
    color: #495057;
}

/* Estilo para el selector de columna de total */
.total-col-select {
    width: 150px;
    /* Ancho para el select */
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}